@model School_Management_System.Models.student

@{
    ViewBag.Title = "StudentAddEdit";
}

@{
    Layout = "~/Views/Shared/_TeachersLayout.cshtml";
}

@if(TempData["SingupMsg"] != null) { <script> alert("Email Already Exist") </script>}
<div class="container m-auto shadow p-3 mb-5 bg-body-tertiary rounded">

    <h2 class="text-center fw-bold mb-3">Add/Edit <span class="text-primary">Student</span></h2>
    @using (Html.BeginForm("StudentAddEdit", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(x => x.S_ID)
        <div class="row row-cols-4 my-3 ">
            <div class="col-md-6">
                <label class="form-label">Full Name:</label>
                @Html.TextBoxFor(m => m.Full_Name, new { @class = "form-control" })
            </div>

            <div class="col-md-6">
                <label class="form-label">Email Id:</label>
                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="row row-cols-4 my-3 ">

            <div class="col-md-6">
                <label class="form-label">Mobile No:</label>
        
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
            
            </div>


            <div class="col-md-6">
                <label class="form-label">Address:</label>
                @Html.TextAreaFor(m => m.Adrress, new { @class = "form-control", @rows = "1" })
            </div>
        </div>
        <div class="row row-cols-4 my-3">

            <div class="col-md-6">
                <label class="form-label">Gender:</label><br />
                Male:     @Html.RadioButtonFor(m => m.Gender, "Male", new { @id = "male" })
                Female:   @Html.RadioButtonFor(m => m.Gender, "Female", new { @id = "female" })
            </div>


            <div class="col-md-6">
                <label class="form-label">Father Name:</label>
                @Html.TextBoxFor(m => m.Father_Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="row row-cols-4 my-3">

            <div class="col-md-6">
                <label class="form-label">Mother Name:</label>
                @Html.TextBoxFor(m => m.Mother_Name, new { @class = "form-control" })
            </div>

            <div class="col-md-6">
                <label class="form-label">Guardian Name:</label>
                @Html.TextBoxFor(m => m.Guardian_Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="row row-cols-4 my-3">
            <div class="col-md-6">
                <label class="form-label">Realation With Guardian:</label>
                @Html.TextBoxFor(m => m.RealationWithGuardian, new { @class = "form-control" })
            </div>

            <div class="col-md-6">
                <label class="form-label">Guardian Phone No:</label>
              
                    @Html.TextBoxFor(m => m.GurdianPhoneNo, new { @class = "form-control"})
              
            </div>
        </div>
        <div class="row row-cols-4 my-3 ">

           


            <div class="col-md-6">
                <label class="form-label">Date of Birth:</label>
                @if (ViewBag.Date == true)
                {
                    <input type="date" value="@(Model.DOB.Value.ToString("yyyy-MM-dd"))" name="DOB" id="DOB" class="form-control" required />
                }
                else
                {
                    <input type="date" name="DOB" id="DOB" class="form-control" required />
                }






            </div>
        </div>
        <div class="row row-cols-4 my-3 ">

            <div class="col-md-6">
                <label class="form-label">State:</label>
                @Html.DropDownListFor(m => m.State, new SelectList(new List<string> { "West Bengal", "Bihar", "Sikim", "Asam", "Manipur", "Tripura" }), "Choose State", new { @class = "form-control" })

            </div>


            <div class="col-md-6">
                <label class="form-label">Country:</label>
                @Html.TextBoxFor(m => m.Country, new { @class = "form-control", value = "India" })
            </div>
        </div>
        <div class="row row-cols-2 my-3">

            <div class="col-md-6">
                <label class="form-label">P.O:</label>
                @Html.TextBoxFor(m => m.PO, new { @class = "form-control" })
            </div>

            <div class="col-md-6">
                <label class="form-label">Pin:</label>
                @Html.TextBoxFor(m => m.Pin, new { @class = "form-control" })
            </div>
        </div>
        <div class="row row-cols-2 my-3">

            <div class="col-md-6">
                <label class="form-label">Class:</label>
                @Html.DropDownListFor(m => m.Class, new SelectList(ViewBag.classes, "ClassName", "ClassName"), "Select Class", new { @class = "form-control" })

            </div>

            <div class="col-md-6">
                <label class="form-label">Section:</label>
                @Html.TextBoxFor(m => m.Section, new { @class = "form-control PasswordReg" })
            </div>

        </div>
        <div class="row row-cols-2 my-3">

            <div class="col-md-6">
                <label class="form-label">Roll Number:</label>
                @Html.TextBoxFor(m => m.RollNo, new { @class = "form-control PasswordReg" })
            </div>

            <div class="col-md-6">
                <label class="form-label">Aadhar Number:</label>
                @Html.TextBoxFor(m => m.Aadhar_NO, new { @class = "form-control PasswordReg" })
            </div>

        </div>
        <div class="row row-cols-2 my-3">

            <div class="col-md-6">
                <label class="form-label">Password:</label>
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control PasswordReg" })
            </div>
            <div class="col-md-6">
                <label class="form-label">Image:</label>
                @Html.TextBoxFor(m => m.Image, new { @class = "form-control m-auto", @type = "file", @required = "required" })
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-2">
                <button type="submit" class="btn btn-outline-primary mt-3 my-2">Registration</button>
            </div>
        </div>
    }
</div>