@model IEnumerable<School_Management_System.Models.ClassDetails>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TeachersLayout.cshtml";
}

<style>
    th, td {
        text-align: center;
    }

    #SearchClass {
        cursor: pointer;
    }
</style>

<h2 class="text-center fw-semibold mb-3 fs-3">Class<span class="text-primary"> Details</span></h2>
<div class="container-fluid shadow p-3 mb-5 bg-body-tertiary rounded">

    <div class="row ms-2 me-auto w-25 mb-3">
        <input class="form-control shadow-sm p-2 rounded" name="SearchClass" id="SearchClass" onkeyup="Search()" type="search" placeholder="Search Class">

    </div>



    <table id="myTable" class="table table-bordered table-striped table-hover ">
        <thead class="align-items-center">
            <tr>
                <th onclick="sortTable(0)">@Html.DisplayNameFor(model => model.ClassName)</th>
                <th onclick="sortTable(1)">@Html.DisplayNameFor(model => model.Sub1)</th>
                <th onclick="sortTable(2)">@Html.DisplayNameFor(model => model.Sub2)</th>
                <th onclick="sortTable(3)">@Html.DisplayNameFor(model => model.Sub3)</th>
                <th onclick="sortTable(4)">@Html.DisplayNameFor(model => model.Sub4)</th>
                <th onclick="sortTable(5)">@Html.DisplayNameFor(model => model.Sub5)</th>
                <th onclick="sortTable(6)">@Html.DisplayNameFor(model => model.Sub6)</th>
                <th onclick="sortTable(7)">@Html.DisplayNameFor(model => model.Sub7)</th>
                <th onclick="sortTable(8)">@Html.DisplayNameFor(model => model.Sub8)</th>
                @*<th>@Html.DisplayNameFor(model => model.Sub9)</th>
                    <th>@Html.DisplayNameFor(model => model.Sub10)</th>
                    <th>@Html.DisplayNameFor(model => model.Sub11)</th>
                    <th>@Html.DisplayNameFor(model => model.Sub12)</th>*@
                <th onclick="sortTable(9)">@Html.DisplayNameFor(model => model.AdmissionFee)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.ClassName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Sub1)</td>
                    <td>@Html.DisplayFor(modelItem => item.Sub2)</td>
                    <td>@Html.DisplayFor(modelItem => item.Sub3)</td>
                    <td>@Html.DisplayFor(modelItem => item.Sub4)</td>
                    <td>@Html.DisplayFor(modelItem => item.Sub5)</td>
                    <td>@Html.DisplayFor(modelItem => item.Sub6)</td>
                    <td>@Html.DisplayFor(modelItem => item.Sub7)</td>
                    <td>@Html.DisplayFor(modelItem => item.Sub8)</td>
                    @*<td>@Html.DisplayFor(modelItem => item.Sub9)</td>
                        <td>@Html.DisplayFor(modelItem => item.Sub10)</td>
                        <td>@Html.DisplayFor(modelItem => item.Sub11)</td>
                        <td>@Html.DisplayFor(modelItem => item.Sub12)</td>*@
                    <td>@Html.DisplayFor(modelItem => item.AdmissionFee)</td>
                    <td class="d-flex">
                        <span class="btn btn-dark mx-1" onclick="SweetaltforDelete(@item.Id,'@item.ClassName')"><i class="bi bi-trash3-fill"></i></span>
                        <a href="/ClassDetails/AddOrEdit/@item.Id" class="btn btn-dark btn-sm"><i class="bi bi-pencil-fill"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

    /*Sort Table*/
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("myTable");
        switching = true;
        dir = "asc";

        while (switching) {
            switching = false;
            rows = table.rows;

            for (i = 1; i < (rows.length - 1); i++) {
                console.log(i);
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("td")[n];
               
                y = rows[i + 1].getElementsByTagName("td")[n];

                if (dir == "asc") {
                    console.log("asc");
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    console.log("dsc");

                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                console.log("ascSwith");
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }

    /*Sort Table*/
    //Search by InputField
    function Search() {        let SearchName = document.getElementById('SearchClass').value.toUpperCase();        let myTable = document.getElementById('myTable');        let tr = myTable.getElementsByTagName('tr');        for (var i = 1; i < tr.length; i++) {            let td = tr[i].getElementsByTagName('td')[0];            if (td) {                let textvalue = td.textContent || td.innerHTML;                if (textvalue.toUpperCase().indexOf(SearchName) > -1) {                    tr[i].style.display = "";                } else {                    tr[i].style.display = "none";                }            }        }    }








    //Delete
    function SweetaltforDelete(id, name) {


        var Mname = name;
        console.log(1);
        var urlId = id;

        Swal.fire({
            title: 'Are you sure?',
            text: "Are You Want to Delete Details of " + Mname + " !!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Delete',
            cancelButtonText: 'No'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/ClassDetails/Delete/" + urlId;
            }
        })


    }

</script>